<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    {{~#eq site.useAbsolutePaths 'true'~}}
        {{~#assign "siteRoot"}}{{site.baseUrl}}{{/assign~}}
        {{~#assign "groupRoot"}}{{siteRoot}}{{groupName}}/{{/assign~}}
        {{~#assign "yearRoot"}}{{groupRoot}}{{postInfo.postYear}}/{{/assign~}}
        {{~#assign "monthRoot"}}{{yearRoot}}{{postInfo.postMonth}}/{{/assign~}}
    {{~else~}}
        {{~#assign "siteRoot"}}../../../{{/assign~}}
        {{~#assign "groupRoot"}}../../{{/assign~}}
        {{~#assign "yearRoot"}}../{{/assign~}}
        {{~#assign "monthRoot"}}./{{/assign~}}
    {{~/eq}}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{siteRoot}}archive-style.css" rel="stylesheet" type="text/css"/>
    {{~#if site.generateCanonicalLink}}
    <link rel="canonical" href="{{site.canonicalBaseUrl}}{{groupName}}/{{postInfo.postYear}}/{{postInfo.postMonth}}/{{postInfo.messageId}}.html"/>
    {{~/if}}
    <title>{{groupName}} - {{{ygMessage.ygData.subject}}}</title>
</head>
<body id="message" class="d-flex flex-column h-100">
<header class="archive-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark site-menu">
        <ul class="navbar-nav">
            <li class="nav-item site-root"><a class="nav-link" href="{{siteRoot}}"><span class="site-name">{{site.name}}</span> - Home</a></li>
            <li class="nav-item parent-site"><a class="nav-link" href="{{site.parentSiteUrl}}"><span class="site-name">{{site.parentSiteName}}</span></a></li>
        </ul>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light group-nav">
        <ul class="navbar-nav">
            <li class="nav-item group-root"><a class="nav-link" href="{{groupRoot}}index.html"><span class="group-name">{{postInfo.groupname}}</span></a></li>
            <li class="nav-item group-year"><a class="nav-link" href="{{yearRoot}}index.html"><span class="group-name">{{postInfo.groupname}}</span> - <span class="year">{{postInfo.postYear}}</span></a></li>
            <li class="nav-item group-year-month"><a class="nav-link" href="{{monthRoot}}index.html"><span class="group-name">{{postInfo.groupname}}</span> - <span class="month">{{monthName postInfo.postMonth}} {{postInfo.postYear}}</span></a></li>
        </ul>
    </nav>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <nav class="my-sm-2 msg-nav content-nav-top">
            <ul class="pagination">
                {{~#if postInfo.prevInTime}}
                <li class="page-item previous previous-in-time">
                    <a class="page-link h-100" href="{{groupRoot}}{{postInfo.prevInTimeYear}}/{{postInfo.prevInTimeMonth}}/{{postInfo.prevInTime}}.html">previous</a>
                </li>
                {{~else}}
                <li class="page-item disabled previous previous-in-time">
                    <span class="page-link h-100">previous</span>
                </li>
                {{~/if~}}
                {{~#if postInfo.prevInTopic}}
                <li class="page-item previous previous-in-topic">
                    <a class="page-link h-100" href="{{groupRoot}}{{postInfo.prevInTopicYear}}/{{postInfo.prevInTopicMonth}}/{{postInfo.prevInTopic}}.html">previous in topic</a>
                </li>
                {{~else}}
                <li class="page-item disabled previous previous-in-topic">
                    <span class="page-link h-100">previous in topic</span>
                </li>
                {{~/if}}
                <li class="page-item first-in-topic"><a class="page-link h-100" href="{{groupRoot}}{{postInfo.topicYear}}/{{postInfo.topicMonth}}/{{postInfo.topicId}}.html">first in topic</a></li>
                {{~#if postInfo.nextInTopic}}
                <li class="page-item next next-in-topic">
                    <a class="page-link h-100" href="{{groupRoot}}{{postInfo.nextInTopicYear}}/{{postInfo.nextInTopicMonth}}/{{postInfo.nextInTopic}}.html">next in topic</a>
                </li>
                {{~else}}
                <li class="page-item disabled next next-in-topic">
                    <span class="page-link h-100">next in topic</span>
                </li>
                {{~/if~}}
                {{~#if postInfo.nextInTime}}
                <li class="page-item next next-in-time">
                    <a class="page-link h-100" href="{{groupRoot}}{{postInfo.nextInTimeYear}}/{{postInfo.nextInTimeMonth}}/{{postInfo.nextInTime}}.html">next</a>
                </li>
                {{~else}}
                <li class="page-item disabled next next-in-time">
                    <span class="page-link h-100">next</span>
                </li>
                {{~/if}}
            </ul>
        </nav>
        <div class="msg">
            <div class="msg-header">
                <table class="table table-borderless table-sm">
                    <colgroup>
                        <col class="col-1 msg-header-name">
                        <col class="msg-header-value">
                    </colgroup>
                    <tr class="msg-subject">
                        <th scope="row" class="pl-sm-0 text-nowrap msg-header-name">Subject</th>
                        <td class="msg-header-value subject">{{{ygMessage.ygData.subject}}}</td>
                    </tr>
                    <tr class="msg-author">
                        <th scope="row" class="pl-sm-0 text-nowrap msg-header-name">Author</th>
                        <td class="msg-header-value author">{{{ygMessage.ygData.authorName}}}</td>
                    </tr>
                    <tr class="msg-postdate">
                        <th scope="row" class="pl-sm-0 text-nowrap msg-header-name">Post date</th>
                        <td class="msg-header-value date-time">{{postDate}}</td>
                    </tr>
                </table>
            </div>
            <div class="my-sm-2 msg-body">
{{{ygMessage.ygData.messageBody}}}
            </div>
        </div>
        <nav class="my-sm-2 msg-nav content-nav-bottom">
            <ul class="pagination">
                {{~#if postInfo.prevInTime}}
                <li class="page-item previous previous-in-time">
                    <a class="page-link h-100" href="{{groupRoot}}{{postInfo.prevInTimeYear}}/{{postInfo.prevInTimeMonth}}/{{postInfo.prevInTime}}.html">previous</a>
                </li>
                {{~else}}
                <li class="page-item disabled previous previous-in-time">
                    <span class="page-link h-100">previous</span>
                </li>
                {{~/if~}}
                {{~#if postInfo.prevInTopic}}
                <li class="page-item previous previous-in-topic">
                    <a class="page-link h-100" href="{{groupRoot}}{{postInfo.prevInTopicYear}}/{{postInfo.prevInTopicMonth}}/{{postInfo.prevInTopic}}.html">previous in topic</a>
                </li>
                {{~else}}
                <li class="page-item disabled previous previous-in-topic">
                    <span class="page-link h-100">previous in topic</span>
                </li>
                {{~/if}}
                <li class="page-item first-in-topic"><a class="page-link h-100" href="{{groupRoot}}{{postInfo.topicYear}}/{{postInfo.topicMonth}}/{{postInfo.topicId}}.html">first in topic</a></li>
                {{~#if postInfo.nextInTopic}}
                <li class="page-item next next-in-topic">
                    <a class="page-link h-100" href="{{groupRoot}}{{postInfo.nextInTopicYear}}/{{postInfo.nextInTopicMonth}}/{{postInfo.nextInTopic}}.html">next in topic</a>
                </li>
                {{~else}}
                <li class="page-item disabled next next-in-topic">
                    <span class="page-link h-100">next in topic</span>
                </li>
                {{~/if~}}
                {{~#if postInfo.nextInTime}}
                <li class="page-item next next-in-time">
                    <a class="page-link h-100" href="{{groupRoot}}{{postInfo.nextInTimeYear}}/{{postInfo.nextInTimeMonth}}/{{postInfo.nextInTime}}.html">next</a>
                </li>
                {{~else}}
                <li class="page-item disabled next next-in-time">
                    <span class="page-link h-100">next</span>
                </li>
                {{~/if}}
            </ul>
        </nav>
    </div>
</main>
</body>
</html>