<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    {{~#eq site.useAbsolutePaths 'true'~}}
        {{~#assign "siteRoot"}}{{site.baseUrl}}{{/assign~}}
        {{~#assign "groupRoot"}}{{siteRoot}}{{groupName}}/{{/assign~}}
        {{~#assign "yearRoot"}}{{groupRoot}}{{yearMonth.year}}/{{/assign~}}
        {{~#assign "monthRoot"}}{{yearRoot}}{{yearMonth.month}}/{{/assign~}}
    {{~else~}}
        {{~#assign "siteRoot"}}../../../{{/assign~}}
        {{~#assign "groupRoot"}}../../{{/assign~}}
        {{~#assign "yearRoot"}}../{{/assign~}}
        {{~#assign "monthRoot"}}./{{/assign~}}
    {{~/eq}}
    <meta charset="utf-8"/>
    <link href="{{siteRoot}}archive-style.css" rel="stylesheet" type="text/css"/>
    <title>{{groupName}} - {{{ygMessage.ygData.subject}}}</title>
</head>
<body class="message">
<div class="archive-nav">
    <nav class="site-menu">
        <ul>
            <li class="site-root"><a href="{{siteRoot}}"><span class="site-name">{{site.name}}</span> - Home</a></li>
            <li class="parent-site"><a href="{{site.parentSiteUrl}}"><span class="parent-site-name">{{site.parentSiteName}}</span></a></li>
        </ul>
    </nav>
    <nav class="group-nav">
        <ul>
            <li class="group-root"><a href="{{groupRoot}}"><span class="group-name">{{postInfo.groupname}}</span></a></li>
            <li class="group-year"><a href="{{yearRoot}}"><span class="group-name">{{postInfo.groupname}} - <span class="year">{{postInfo.postYear}}</span></a></li>
            <li class="group-year-month"><a href="{{monthRoot}}"><span class="group-name">{{postInfo.groupname}} - <span class="month-name">{{monthName postInfo.postMonth}}</span> <span class="year">{{postInfo.postYear}}</span></a></li>
        </ul>
    </nav>
</div>
<div class="main-content">
    <nav class="msg-nav content-nav-top">
        <ul>
            <li class="previous previous-in-time">
                {{~#if postInfo.prevInTime~}}
                    <a href="{{groupRoot}}{{postInfo.prevInTimeYear}}/{{postInfo.prevInTimeMonth}}/{{postInfo.prevInTime}}.html">previous</a>
                {{~else~}}
                    <span>previous</span>
                {{~/if~}}
            </li>
            <li class="previous previous-in-topic">
                {{~#if postInfo.prevInTopic~}}
                    <a href="{{groupRoot}}{{postInfo.prevInTopicYear}}/{{postInfo.prevInTopicMonth}}/{{postInfo.prevInTopic}}.html">previous (in topic)</a>
                {{~else~}}
                    <span>previous (in topic)</span>
                {{~/if~}}
            </li>
            <li class="first-in-topic"><a href="{{groupRoot}}{{postInfo.topicYear}}/{{postInfo.topicMonth}}/{{postInfo.topicId}}.html">first in topic</a></li>
            <li class="next next-in-topic">
                {{~#if postInfo.nextInTopic~}}
                    <a href="{{groupRoot}}{{postInfo.nextInTopicYear}}/{{postInfo.nextInTopicMonth}}/{{postInfo.nextInTopic}}.html">next (in topic)</a>
                {{~else~}}
                    <span>next (in topic)</span>
                {{~/if~}}
            </li>
            <li class="next next-in-time">
                {{~#if postInfo.nextInTime~}}
                    <a href="{{groupRoot}}{{postInfo.nextInTimeYear}}/{{postInfo.nextInTimeMonth}}/{{postInfo.nextInTime}}.html">next</a>
                {{~else~}}
                    <span>next</span>
                {{~/if~}}
            </li>
        </ul>
    </nav>
    <div class="msg">
        <div class="msg-header">
            <table>
                <tr class="msg-subject">
                    <th class="msg-header-name">Subject</th>
                    <td class="msg-header-value"><span class="subject">{{{ygMessage.ygData.subject}}}</span></td>
                </tr>
                <tr class="msg-author">
                    <th class="msg-header-name">Author</th>
                    <td class="msg-header-value"><span class="author">{{{ygMessage.ygData.authorName}}}</span></td>
                </tr>
                <tr class="msg-postdate">
                    <th class="msg-header-name">Post date</th>
                    <td class="msg-header-value"><span class="date-time">{{postDate}}</span></td>
                </tr>
            </table>
        </div>
        <div class="msg-body">
{{{ygMessage.ygData.messageBody}}}
        </div>
    </div>
    <nav class="msg-nav content-nav-bottom">
        <ul>
            <li class="previous previous-in-time">
                {{~#if postInfo.prevInTime~}}
                    <a href="{{groupRoot}}{{postInfo.prevInTimeYear}}/{{postInfo.prevInTimeMonth}}/{{postInfo.prevInTime}}.html">previous</a>
                {{~else~}}
                    <span>previous</span>
                {{~/if~}}
            </li>
            <li class="previous previous-in-topic">
                {{~#if postInfo.prevInTopic~}}
                    <a href="{{groupRoot}}{{postInfo.prevInTopicYear}}/{{postInfo.prevInTopicMonth}}/{{postInfo.prevInTopic}}.html">previous in topic</a>
                {{~else~}}
                    <span>previous in topic</span>
                {{~/if~}}
            </li>
            <li class="first-in-topic"><a href="{{groupRoot}}{{postInfo.topicYear}}/{{postInfo.topicMonth}}/{{postInfo.topicId}}.html">first in topic</a></li>
            <li class="next next-in-topic">
                {{~#if postInfo.nextInTopic~}}
                    <a href="{{groupRoot}}{{postInfo.nextInTopicYear}}/{{postInfo.nextInTopicMonth}}/{{postInfo.nextInTopic}}.html">next in topic</a>
                {{~else~}}
                    <span>next in topic</span>
                {{~/if~}}
            </li>
            <li class="next next-in-time">
                {{~#if postInfo.nextInTime~}}
                    <a href="{{groupRoot}}{{postInfo.nextInTimeYear}}/{{postInfo.nextInTimeMonth}}/{{postInfo.nextInTime}}.html">next</a>
                {{~else~}}
                    <span>next</span>
                {{~/if~}}
            </li>
        </ul>
    </nav>
</div>
</body>
</html>