<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    {{~#eq site.useAbsolutePaths 'true'~}}
        {{~#assign "siteRoot"}}{{site.baseUrl}}{{/assign~}}
        {{~#assign "groupRoot"}}{{siteRoot}}{{groupName}}/{{/assign~}}
        {{~#assign "yearRoot"}}{{groupRoot}}{{yearMonth.year}}/{{/assign~}}
        {{~#assign "monthRoot"}}{{yearRoot}}{{yearMonth.month}}/{{/assign~}}
    {{~else~}}
        {{~#assign "siteRoot"}}../../../{{/assign~}}
        {{~#assign "groupRoot"}}../../{{/assign~}}
        {{~#assign "yearRoot"}}../{{/assign~}}
        {{~#assign "monthRoot"}}./{{/assign~}}
    {{~/eq}}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{siteRoot}}archive-style.css" rel="stylesheet" type="text/css"/>
    <title>{{groupName}} - {{monthName yearMonth.month}} {{yearMonth.year}}</title>
</head>
<body id="month-index" class="d-flex flex-column h-100">
<header class="archive-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark site-menu">
        <ul class="navbar-nav">
            <li class="nav-item site-root"><a class="nav-link" href="{{siteRoot}}"><span class="site-name">{{site.name}}</span> - Home</a></li>
            <li class="nav-item parent-site"><a class="nav-link" href="{{site.parentSiteUrl}}"><span class="site-name">{{site.parentSiteName}}</span></a></li>
        </ul>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light group-nav">
        <ul class="navbar-nav">
            <li class="nav-item group-root"><a class="nav-link" href="{{groupRoot}}index.html"><span class="group-name">{{groupName}}</span></a></li>
            <li class="nav-item group-year"><a class="nav-link" href="{{yearRoot}}index.html"><span class="group-name">{{groupName}}</span> - <span class="year">{{yearMonth.year}}</span></a></li>
        </ul>
    </nav>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1><span class="group-name">{{groupName}}</span> - <span class="month">{{monthName yearMonth.month}} {{yearMonth.year}}</span></h1>
        <nav class="my-sm-2 group-month-nav content-nav-top">
            <ul class="pagination">
                {{~#with monthNavigation.previous}}
                <li class="page-item w-50 previous previous-month">
                    <a class="page-link h-100" href="{{groupRoot}}{{this.year}}/{{this.month}}/index.html">previous month (<span class="month">{{monthName this.month}} {{this.year}}</span>)</a>
                </li>
                {{~else}}
                <li class="page-item w-50 disabled previous previous-month">
                    <span class="page-link h-100">previous month</span>
                </li>
                {{~/with~}}
                {{~#with monthNavigation.next}}
                <li class="page-item w-50 next next-month">
                    <a class="page-link h-100" href="{{groupRoot}}{{this.year}}/{{this.month}}/index.html">next month (<span class="month">{{monthName this.month}} {{this.year}}</span>)</a>
                </li>
                {{~else}}
                <li class="page-item w-50 disabled next next-month">
                    <span class="page-link h-100">next month</span>
                </li>
                {{~/with}}
            </ul>
        </nav>
        <ul class="list-unstyled msg-list">
            {{~#each posts}}
            <li><a href="{{monthRoot}}{{messageId}}.html"><span class="subject">{{{subject}}}</span> <span class="author">{{{authorName}}}</span></a></li>
            {{~/each}}
        </ul>
        <nav class="my-sm-2 group-month-nav content-nav-bottom">
            <ul class="pagination">
                {{~#with monthNavigation.previous}}
                <li class="page-item w-50 previous previous-month">
                    <a class="page-link h-100" href="{{groupRoot}}{{this.year}}/{{this.month}}/index.html">previous month (<span class="month">{{monthName this.month}} {{this.year}}</span>)</a>
                </li>
                {{~else}}
                <li class="page-item w-50 disabled previous previous-month">
                    <span class="page-link h-100">previous month</span>
                </li>
                {{~/with~}}
                {{~#with monthNavigation.next}}
                <li class="page-item w-50 next next-month">
                    <a class="page-link h-100" href="{{groupRoot}}{{this.year}}/{{this.month}}/index.html">next month (<span class="month">{{monthName this.month}} {{this.year}}</span>)</a>
                </li>
                {{~else}}
                <li class="page-item w-50 disabled next next-month">
                    <span class="page-link h-100">next month</span>
                </li>
                {{~/with}}
            </ul>
        </nav>
    </div>
</main>
</body>
</html>