<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    {{~#assign "siteRoot"}}{{#eq site.useAbsolutePaths 'true'}}{{site.baseUrl}}{{else}}./{{/eq}}{{/assign}}
    <meta charset="utf-8"/>
    <link href="{{siteRoot}}archive-style.css" rel="stylesheet" type="text/css"/>
    <title>{{site.name}}</title>
</head>
<body class="root-index">
<div class="archive-nav">
    <nav class="site-menu">
        <ul>
            <li class="site-root"><a href="{{siteRoot}}"><span class="site-name">{{site.name}}</span> - Home</a></li>
            <li class="parent-site"><a href="{{site.parentSiteUrl}}"><span class="parent-site-name">{{site.parentSiteName}}</span></a></li>
        </ul>
    </nav>
</div>
<div class="main-content">
    <h1><span class="site-name">{{site.name}}</span></h1>
    <p>
        {{site.introduction}}
    </p>
    <ul class="group-list">
        {{~#each groups}}
        <li class="group-name"><a href="{{siteRoot}}{{this}}"><span class="group-name">{{this}}</span></a></li>
        {{~/each}}
    </ul>
</div>
</body>
</html>