<!DOCTYPE html>
<html lang="{{site.lang}}">
<head>
    {{~#eq site.useAbsolutePaths 'true'~}}
        {{~#assign "siteRoot"}}{{site.baseUrl}}{{/assign~}}
        {{~#assign "groupRoot"}}{{siteRoot}}{{groupName}}/{{/assign~}}
        {{~#assign "yearRoot"}}{{groupRoot}}{{year}}/{{/assign~}}
    {{~else~}}
        {{~#assign "siteRoot"}}../../{{/assign~}}
        {{~#assign "groupRoot"}}../{{/assign~}}
        {{~#assign "yearRoot"}}./{{/assign~}}
    {{~/eq}}
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="{{siteRoot}}archive-style.css" rel="stylesheet" type="text/css"/>
    <title>{{groupName}} - {{year}}</title>
</head>
<body id="year-index" class="d-flex flex-column h-100">
<header class="archive-nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark site-menu">
        <ul class="navbar-nav">
            <li class="nav-item site-root"><a class="nav-link" href="{{siteRoot}}"><span class="site-name">{{site.name}}</span> - Home</a></li>
            <li class="nav-item parent-site"><a class="nav-link" href="{{site.parentSiteUrl}}"><span class="site-name">{{site.parentSiteName}}</span></a></li>
        </ul>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light group-nav">
        <ul class="navbar-nav">
            <li class="nav-item group-root"><a class="nav-link" href="{{groupRoot}}index.html"><span class="group-name">{{groupName}}</span></a></li>
        </ul>
    </nav>
</header>
<main role="main" class="flex-shrink-0">
    <div class="container">
        <h1><span class="group-name">{{groupName}}</span> - <span class="year">{{year}}</span></h1>
        <nav class="my-sm-2 group-year-nav content-nav-top">
            <ul class="pagination">
                {{~#with yearNavigation.previous}}
                <li class="page-item w-50 previous previous-year">
                    <a class="page-link" href="{{groupRoot}}{{this}}/index.html">previous year (<span class="year">{{this}}</span>)</a>
                </li>
                {{~else}}
                <li class="page-item w-50 disabled previous previous-year">
                    <span class="page-link">previous year</span>
                </li>
                {{~/with~}}
                {{~#with yearNavigation.next}}
                <li class="page-item w-50 next next-year">
                    <a class="page-link" href="{{groupRoot}}{{this}}/index.html">next year (<span class="year">{{this}}</span>)</a>
                </li>
                {{~else}}
                <li class="page-item w-50 disabled next next-year">
                    <span class="page-link">next year</span>
                </li>
                {{~/with}}
            </ul>
        </nav>
        <div class="months">
            <table class="table table-striped table-hover year-month-index">
                <colgroup>
                    <col class="month">
                    <col class="post-count">
                </colgroup>
                <tr>
                    <th class="month">Month</th>
                    <th class="post-count">Posts</th>
                </tr>
                {{~#each postsPerMonth}}
                <tr>
                    <td class="month"><a href="{{yearRoot}}{{yearMonth.month}}/index.html">{{monthName yearMonth.month}} {{yearMonth.year}}</a></td>
                    <td class="post-count"><a href="{{yearRoot}}{{yearMonth.month}}/index.html">{{postCount}}</a></td>
                </tr>
                {{~/each}}
            </table>
        </div>
        <nav class="my-sm-2 group-year-nav content-nav-bottom">
            <ul class="pagination">
                {{~#with yearNavigation.previous}}
                <li class="page-item w-50 previous previous-year">
                    <a class="page-link" href="{{groupRoot}}{{this}}/index.html">previous year (<span class="year">{{this}}</span>)</a>
                </li>
                {{~else}}
                <li class="page-item w-50 disabled previous previous-year">
                    <span class="page-link">previous year</span>
                </li>
                {{~/with~}}
                {{~#with yearNavigation.next}}
                <li class="page-item w-50 next next-year">
                    <a class="page-link" href="{{groupRoot}}{{this}}/index.html">next year (<span class="year">{{this}}</span>)</a>
                </li>
                {{~else}}
                <li class="page-item w-50 disabled next next-year">
                    <span class="page-link">next year</span>
                </li>
                {{~/with}}
            </ul>
        </nav>
    </div>
</main>
</body>
</html>